<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, itaque. Accusamus a neque, doloremque debitis quae nesciunt praesentium eligendi enim. Accusantium vero quisquam mollitia rem modi placeat. Eveniet, unde eaque?
Maiores, numquam consequatur. Quo magni eaque quae placeat quidem, sit earum cupiditate, iusto veritatis quam distinctio est nulla nesciunt, dolorum odit ad cum! Minus laboriosam quibusdam voluptatem facilis tenetur eligendi.</p>

<%- include("footer") -%>
